* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.container {
  background: white;
  /* padding: 0 10px 0 160px; */
  padding: 0 100px;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #e1ede6;
  width: 100%;
  padding: 20px;
}

.logo {
  margin-left: 140px;
}

.menu {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
  margin-right: 170px;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

.bird {
  display: flex;
  gap: 50px;
}

.box {
  padding-top: 100px;
}

.title {
  font-size: 60px;
}

.greentitle {
  font-size: 60px;
  color: #598d66;
}

.text {
  color: #86928b;
  font-size: 18px;
  margin-top: 20px;
}

.btn {
  font-size: 15px;
  padding: 15px 50px;
  color: #598d66;
  border: #598d66 solid 1px;
  margin-top: 50px;
  background: white;
}

.container2 {
  padding: 50px 100px 0;
}

.nav2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  font-size: 40px;
}

.menu2 {
  display: flex;
  gap: 20px;
}

.btn2 {
  padding: 5px 10px;
  border-radius: 20px;
  background: #d4e8d9;
  border: none;
}

.box2 {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background: #e1ede6;
  padding: 15px;
}

.author {
  color: #86928b;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 8px;
}

.title2 {
  color: #2c2d35;

  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
}

.properties {
  color: #2c2d35;

  font-size: 18px;
  font-style: normal;
  margin-top: 6px;
}

.price {
  color: #598d66;

  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  margin-top: 30px;
}

.basket {
  color: #598d66;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 10px 106px;
  border: #598d66 1.5px solid;
}

.box3 {
  background-image: url(bg.jpg);
  flex-shrink: 0;
  padding-left: 165px;
  margin-top: 70px;
}

.titleclass {
  display: flex;
  align-items: center;
}

.icon2 {
  margin-top: 70px;
}

.title3 {
  color: #f4f6f5;

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  margin-top: 70px;
  margin-left: 20px;
}

.text2 {
  color: #fff;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}

.acknowlegment {
  color: #2c2d35;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 60px;
  padding: 20px 60px;
  background: #eedb6d;
  margin-bottom: 70px;
}

.container3 {
  display: flex;
  padding: 0 100px;
  margin-top: 40px;
}

.image-overlapping {
  width: 400px;
  height: 350px;
  background-image: url(frame.png);
  background-size: 100% 100%;
  position: relative;
}

.image-overlapping:after {
  content: url(brushes.png);

  position: absolute;
  left: 43px;
  top: -89px;
  opacity: 1;
  background-size: 100% 100%;
}

.box4 {
  margin-left: 30px;
}

.title4 {
  margin-top: 45px;
  color: #2c2d35;

  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}

.text3 {
  margin-top: 20px;
  color: #2c2d35;

  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}

.photos {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

/* .photo{

} */

.nav2{
background: #E1EDE6;
padding: 20px 100px;
margin-top: 70px;
}

/* .contactinfo{

} */

/* .logo2{

} */

/* .contacts{

} */

.number{
  color: #2C2D35;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  margin-top: 30px;
}

.word{
  color: #86928B;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 5px;
}

.nav3{
  display: flex;
  gap: 30px;
}

/* .nav4{

} */

.nav_dev{
  color: #2C2D35;

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
}

.nav_el{
  color: #86928B;

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  margin-top: 10px;
}

.social{
margin-left: 100px;
margin-bottom: 50px;
}

.icons{
  display: flex;
  gap: 30px;
}

/* .photo2{} */

.textfield{
  margin-top: 15px;
}

.text4{
  color: #86928B;

font-size: 12px;
font-style: normal;
font-weight: 500;
margin-top: 6px;
}